.T1{  /*esta es la forma para seleccionar usando "class"*/
    border: 1px; color: rgb(2, 2, 2);
    text-align: center;
}


#principal{ /* esta es la forma para seleccionar usando ID*/
    border: solid; color: black;
}

.correcto{
  
    text-align: center;
}
 
.incorrecto{
    color: red;
    text-align: right;
}

.intro{
    text-align: center;
    color: chocolate;
}