.T1{  /*esta es la forma para seleccionar usando "class"*/
    border: 1px; color: rgb(16, 183, 244);
    text-align: center;
    size: 500 px;
}


#principal{ /* esta es la forma para seleccionar usando ID */
    border: solid; color: rgb(255, 255, 255);
    
}

.opciones{
  
    text-align: center; 
    border: solid; color: rgb(255, 255, 255);
}
 
.intro{
    text-align: center;
    color: chocolate;
}

.imagen{
    text-align: center;
    height: 500;
    width: 500;
}

.T2{
    size: 500;
}